* {
  margin: 0;
  padding: 0;
}

.indent_left {
  margin-left: 30px;
}

#google_icon {
  width: 45px;
}

body {
  background-color: #c0c0c07a;
}

.box {
  margin: auto;
  border: outset;
  width: 400px;
  height: 450px;
  background-color: white;
  /* border-color: black;
  border-width: 5px;
  border-radius: 10px; */
  margin-top: 100px;
  box-shadow: 19px 19px 29px 9px rgb(98, 97, 99);
  border-radius: 12px;
}

.box img {
  width: 40px;
  margin-left: 20px;
}

.box h2 {
  font-size: 18px;
  font-family: "Scheherazade New", serif;
  margin-top: -30px;
  margin-left: 21%;
}

.box h3 {
  font-size: 15px;
  font-family: "Scheherazade New", serif;
  margin-left: 45%;
}

.box p {
  font-size: 14px;
  margin-top: 25px;
  margin-left: 20px;
}

.box .mb-3 {
  margin-left: 50px;
  width: 80%;
}

button {
  margin-top: 10px;
  margin-left: 50px;
}

.g-signin2 {
  margin-left: 26px;

}

/* .google img {
  width: 12%;
  margin-left: 30px;
}

.google ul {
  list-style: none;
}

.face img {
  width: 11%;
  margin-left: 23%;
  margin-top: -105px;
} */

#make {
  border: 2px solid #000000b7;
}
#intake {
  border: 2px solid rgba(0, 0, 0, 0.678);
}

@media screen and (max-width: 360px) {
  .box {
    width: 350px;
    height: 480px;
  }
}
